
    <div class="controls">
        <div class="brightness-adjuster">
            <label for="range">Brightness {{ brightness }}%</label>
            <input type="range" min="0" max="100" step="1" [(ngModel)]="brightness"  #brightnessInput>
        </div>

        <label class="switch">
            <input (click)="toggleOnOff($event)" [(ngModel)]="isOn" type="checkbox">
            <span class="slider round" [ngClass]="isOn ? 'on' : ''">
                {{ isOn ? 'On' : 'Off' }}
            </span>
        </label>
    </div>

@if(!isLoading) {
    <app-multi-color-animations [defaultColors]="colors" />
} @else {
    Loading...
}