.buttons {
    .add-remove {
        background-color: #c60e0f;
        border: none;
        height: 2rem;
        width: 2rem;
        border-radius: 5px;
        cursor: pointer;
        margin-right: .25rem;
    }
}
