<div class="section">
    <div class="header">
        <h2>Colored</h2>
        <div class="single-color-input">
            @for (color of colors; track $index) {
                <input type="color" [value]="color" (input)="modifyColor($event, $index)">
            }
            <button (click)="addColorInput()">Add Color +</button>
            <button (click)="removeColorInput()">Remove Color -</button>
        </div>
    </div>
    <div class="animations-buttons">
        @for (animation of animations; track $index) {
            <button (click)="inititateAnimtion(animation.name)">{{ animation.description }}</button>
        }
    </div>
</div>