<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>RgbClient</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.c96826ae13d8d7dc.js" type="module"></script><script src="polyfills.aa268ca3339c232f.js" type="module"></script><script src="main.3237b49e68def3e1.js" type="module"></script>

</body></html>